@media only screen and (max-width: 720px) {
  .body {
    margin: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Sen", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 10;
}

.nav-list {
  display: flex,;
  margin-right: 50px;
}

.header-title {
  padding: 15px;
  margin-left: 50px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 15px;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid white;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

#about {
  display: flex;
  height: 100vh;
  /* text-align: center; */
  padding: 10rem 20rem;
  gap: 60px;
  align-items: center;
}

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  margin-left: 30px;
  margin-right: 30px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
}
